@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

a:visited {
  color: unset;
  text-decoration: unset;
}

a {
  color: unset;
}

